* {
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display: flex;
    text-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: #f9faf8;
    background-color: #1f2937;
    padding: 0 24px;
}

li {
    text-decoration: none;
    list-style: none;
    display: inline-block;
    margin: 0 5px;
}

a {
    color: #f9faf8;
    text-decoration: none;
}

.main-content {
    display: flex;
    flex-direction: row;
    background-color: #1f2937;
    color: #f9faf8;
    align-items: center;
    justify-content: center;
    padding-bottom: 24px;
}

.main-text {
    font-size: 48px;
    font-weight: 900;
    padding: 24px;
}

.main-paragraph {
    font-size: 18px;
    color: #e5e7eb;
    text-wrap: wrap;
    display: block;
    padding: 0 24px;
}

.btn {
    display: block;
    background-color: #3882f6;
    color: #f9faf8;
    margin: 12px 24px;
    border: none;
    border-radius: 6px;
    padding: 10px 40px;
    font-size: 16px;
}

.popologo {
    width: auto;
    height: 100px;
    padding-top: 24px;
}

.second-text {
    text-align: center;
    color: #1f2937;
    font-weight: 900;
    font-size: 36px;
}

.second-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.fotos-popo {
    margin: 12px 24px;
    padding: 24px;
    width: 300px;
    height: 300px;
}

.sobre-popo {
    text-align: center;
}

.quote-text {
    text-align: center;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.quote-author {
    text-align: right;
    font-size: 16px;
    font-weight: 600;
}

.quote {
    background-color: #e5e7eb;
    padding: 12px;
}

.sign-up {
    background-color: #3882f6;
    margin: 50px 200px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 10px 50px;
}

.sign-item {
    flex: 1;
}

.signs-text {
    text-align: left;
    color: #e5e7eb;
}

.signs-button {
    text-align: center;
    color: #f9faf8;
}

.btn-signup {
    background-color: #f9faf8;
    color: #3882f6;
    margin: 12px 24px;
    border: none;
    border-radius: 6px;
    padding: 10px 40px;
    font-size: 16px;
}

.footer {
    background-color: #1f2937;
    color: #f9faf8;
    text-align: center;
    padding: 12px;
}